###MySelft###

*.zip

*.7z

*.tar.*

*.ini

*.settings

*-config.json

*.config

test.*

*.exe

.DS_Store

.DS_Store/


*.log

*.so

.git/

test/

node_modules/

.idea/

.vscode/

__pycache__/

# Environments

.env

.venv

env/

venv/

ENV/

env.bak/

venv.bak/



# Distribution / packaging

.Python

build/

develop-eggs/

dist/

downloads/

eggs/

.eggs/

lib/

lib64/

parts/

sdist/

var/

wheels/

*.egg-info/

.installed.cfg

*.egg

MANIFEST