###MySelft###

*.zip

*.7z

*.tar.*

*.ini

*.settings

*-config.json

*.config

test.*

*.exe

.DS_Store

.DS_Store/


*.log

*.so

.git/

test/

node_modules/

.idea/

.vscode/

__pycache__/

# Environments

.env
